<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img
      src="../assets/logo.png"
      width="100"
      height="100"
      alt="logo image"
      loading="lazy"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navBarToggle"
    aria-controls="navBarToggle"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBarToggle">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div role="main" class="container">
  <h2>Exercise 3.4 - Guarding Routes</h2>
  <div class="row profile-container mt-4">
    <div class="col-sm-4 image-div">
      <app-my-image></app-my-image>
    </div>
    <div class="col-sm-8 details-div">
      <app-my-details></app-my-details>
    </div>
  </div>
</div>
