<div fxLayout="column" style="width: 50%; margin: 15% auto;">
  <div>
    <mat-card>
      <mat-card-title>
        Status
      </mat-card-title>
      <mat-card-content style="text-align: center;">
        <div style="margin-top: 30px;">
          <span
            class="material-icons md-48"
            style="
              border-right: solid 5px black;
              margin-right: 20px;
              padding-right: 20px;
            "
          >
            mood_bad
          </span>

          <span class="material-icons md-48">
            filter_4
          </span>
          <span class="material-icons md-48">
            exposure_zero
          </span>
          <span class="material-icons md-48">
            filter_4
          </span>
        </div>
        <div style="margin-top: 30px;">
          <h2>Page Not Found</h2>
        </div>
      </mat-card-content>

      <br />

      <mat-card-actions fxLayout="row-reverse">
        <button mat-raised-button color="primary" routerLink="/">
          Return home
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
