<h1>
  Franz Liszt
</h1>

<div class="row profile-container mt-4">
  <div class="col-lg-4 mt-2">
    <img src="../../assets/franz-liszt.jpg" alt="Franz Liszt" />
    <caption>
      <a
        href="https://commons.wikimedia.org/wiki/File:Portrait_of_Franz_Liszt_by_Friedrich_von_Amerling.jpg"
        title="via Wikimedia Commons"
        >Source</a
      >
    </caption>
  </div>
  <div class="col-lg-8">
    <p>
      A Hungarian composer whom also played the piano, taught music, and the
      played the organ. Not only did he compose music and play multiple
      instruments, he was a writer as well. Franz was born on October 22, 1811
      in Hungary. An awesome fact about Franz is that he wrote more than 700
      compositions! He started composing music at a young age which paved the
      way to his success. He had a difficult last ten years of his life and his
      life came to an end on July 31, 1886 in Germany. <br />

      <a href="https://www.biography.com/musician/franz-liszt" target="_blank"
        >Source</a
      >
    </p>
  </div>
</div>
