<div fxLayout="row wrap">
  <div fxFlex>
    <div class="align-center">
      <img src="../../assets/Truman-Capote-1966.jpg" width="40%" />

      <br />
      <em>
        <a
          class="attribution-link"
          href="https://www.britannica.com/biography/Truman-Capote#/media/1/94087/112203"
          target="_blank"
          >Truman Capote, 1966.</a
        >
        <br />
        <cite> John Lent—AP/Shutterstock.com</cite>
      </em>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">
      Truman Capote
    </h1>
    <p>
      Truman Capote (1924-1984) was well known novelist that transitioned from
      being a short story writer to a more journalistic novel style writer. Mr.
      Capote published a popular novel titled <i>Breakfast at Tiffany’s</i> in
      1958 and a movie came out of that three years later. After much success,
      later in 1965, he published another big time novel titled
      <i>In Cold Blood</i>. That novel got so much attention that it was brought
      to the big screen just two years after publication in 1967.
    </p>
    <em
      >Source:
      <a
        href="https://www.britannica.com/biography/Truman-Capote"
        target="_blank"
        class="attribution-link"
        >Kathleen Kuiper</a
      ></em
    >
  </div>
</div>
