.material-item {
  margin-bottom: 5px;
}

.summary-section {
  margin: 10px;
  padding: 10px;
}

.cost-section {
  background-color: rgba(128, 203, 196, 0.1);
  border-radius: 4px;
  border: solid thin #80cbc4;
  width: 150px;
  text-align: center;
}

.total-section {
  margin-right: 10px;
}
